<h1>Welcome to the blog!</h1>

<div>
  <%= will_paginate @posts %>
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post.title, post %>
      <p> posted by <%= post.author.email %> </p>
    </div>
  <% end %>
</div>
